.tabla {
   float: left;
    color: white;
    background-color: $color-primary;
    border: 1px solid white;
    height: 30vh;
    width: 10vw;
    font-size: 2rem;
}

.coin {

    &-neutral{
        color: white;
        display: inline-block;
        background-color: $color-primary;
        border: 1px solid $color-coin-yellow;
        height:15%;
        width: 13%;
        font-size: 2rem;  
    }

    &-yellow{
        color: white;
        display: inline-block;
        background-color: $color-coin-yellow;
        border: 1px solid black;
        height:15%;
        width: 13%;
        font-size: 2rem;
    }

    &-red{
        color: white;
        display: inline-block;
        background-color: $color-coin-red;
        border: 1px solid black;
        height:15%;
        width: 13%;
        font-size:2rem;
       
    }
   
}

.container-main {
    height: 70vh;
    width: 80vw;

}

.header{
    display:inline-block;
    text-align: center;
    background-color: $color-primary;
    color: white;
    font-size: 1rem;
    width: 13%;
}

.list {
    list-style: none;
}

.pobeda{
    display: inline-block;
    margin-top:150px; 
    color:black;
    background-color: $color-coin-yellow;
    border: 1px solid red;
    height: 15%;
    width: 90%;
    font-size: 2rem;
}