.semafor{
  
    background-color:$color-primary;
    color:$color-back;
    height:8vh; 
    font-size: 1rem;
    margin-bottom: 7px; 
   
  }

button {
  border: 1px solid $color-back;
}

.button{

  &-newGame{
    float:left; 
  
      color: white;
      background-color: $color-primary;
      font-size: 120%; 
      font-weight: 500;
      transition: all 0.5s;
      height: 100%;
      width:20%; 
     
      &:hover {
          background-color: $color-primary-light;
        }

}
  
  &-winY{
    float:left; 
  
      color:$color-primary-dark;
      background-color: $color-coin-yellow;
      font-size: 200%;
      font-weight: 500;
      transition: all 0.5s;
      width:20%;
      height:100%;   
      padding: 0.5%;

    }

    &-winR{
      float:left; 
     
        color:$color-back;
        background-color: $color-coin-red; 
        font-size: 200%;
        font-weight: 500;
        transition: all 0.5s;
        width:20%;
        height:100%;    
        padding: 0.5%;
  
      }

  }

  .playerY{
    float:left; 
    border: 1px solid $color-back;
    text-align: center;
    padding-top: 23px;  
    font-size: 120%;
    width: 20%; 
    height:100%;
    
  }

  .playerR{

    float:left;  
    border: 1px solid $color-back;
    text-align: center;
    padding-top: 23px;  
    font-size: 120%; 
    width:20%;
      height: 100%;
  }