.semafor{
    background-color:$color-primary;
    color:$color-back;
    height: 10%;
    width: 100%;
   // text-align: center;
    padding: 15px;
    font-size: 1rem;
    letter-spacing: 1rem;
    margin-top: 10px;
    float: left;
  }

  
button {
  border: 1px solid $color-back;
}

.button{

  &-newGame{
      display: inline-block;
      color: white;
      background-color: $color-primary;
      font-size:1rem;
      font-weight: 500;
      letter-spacing: 5px;
      transition: all 0.5s;
      height: 90%;
      width:20%;
      padding:5px 5px;
  
      &:hover {
          background-color: $color-primary-light;
        
        }

}
  
  &-win{
      color:$color-back;
      background-color: $color-primary;
      font-size:2rem;
      font-weight: 500;
      transition: all 0.5s;
      width: 5%;
      height: 100%;
      padding: 1px 1px;
      margin-top: 5px;
     
    }

    
  }