* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #420c34; }

/* 
////////////////PRE SET/////////////////////////// */
.wraper-ceo {
  height: 100%;
  width: 100%;
  margin-top: 30px; }

.wraper-tabla {
  width: 100%;
  height: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
  /* If you want text inside of it */ }

.container-tabla {
  position: absolute;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.coin-neutral {
  color: #420c34;
  float: left;
  background-color: #420c34;
  border: 1px solid #f2f2f2;
  height: 14.2%;
  width: 14.2%;
  font-size: 0.1rem; }

.coin-yellow {
  color: transparent;
  background-color: #dada14;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  font-size: 0.1rem;
  animation-name: coin;
  animation-duration: 0.2s;
  animation-fill-mode: forwards; }

.coin-red {
  color: transparent;
  background-color: #E30425;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  font-size: 0.1rem;
  animation-name: coin;
  animation-duration: 0.2s;
  animation-fill-mode: forwards; }

.pobeda {
  display: inline-block;
  color: #f2f2f2;
  padding: 15px;
  text-align: center;
  background-color: #420c34;
  border: 1px solid #f2f2f2;
  height: 80px;
  width: 100%;
  font-size: 120%; }

@keyframes coin {
  0% {
    transform: scale(0.1); }
  100% {
    transform: scale(0.8); } }

.semafor {
  background-color: #420c34;
  color: #f2f2f2;
  height: 8vh;
  font-size: 1rem;
  margin-bottom: 7px; }

button {
  border: 1px solid #f2f2f2; }

.button-newGame {
  float: left;
  color: white;
  background-color: #420c34;
  font-size: 120%;
  font-weight: 500;
  transition: all 0.5s;
  height: 100%;
  width: 20%; }
  .button-newGame:hover {
    background-color: #720D5D; }

.button-winY {
  float: left;
  color: #420c34;
  background-color: #dada14;
  font-size: 200%;
  font-weight: 500;
  transition: all 0.5s;
  width: 20%;
  height: 100%;
  padding: 0.5%; }

.button-winR {
  float: left;
  color: #f2f2f2;
  background-color: #E30425;
  font-size: 200%;
  font-weight: 500;
  transition: all 0.5s;
  width: 20%;
  height: 100%;
  padding: 0.5%; }

.playerY {
  float: left;
  border: 1px solid #f2f2f2;
  text-align: center;
  padding-top: 23px;
  font-size: 120%;
  width: 20%;
  height: 100%; }

.playerR {
  float: left;
  border: 1px solid #f2f2f2;
  text-align: center;
  padding-top: 23px;
  font-size: 120%;
  width: 20%;
  height: 100%; }

.animation-red {
  background-color: #E30425;
  height: 98%;
  width: 98%; }
